[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlib = "*"
pillow = "*"
websockets = "*"

[dev-packages]

[requires]

[packages.robotstreamer-utils]
editable = true
ref = "feat/library_meta"
git = "https://github.com/KenwoodFox/robotstreamer.git"
