[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlib = "*"
pillow = "*"
robotstreamer-utils = {editable = true, ref = "feat/library_meta", git = "https://github.com/KenwoodFox/robotstreamer.git"}

[dev-packages]

[requires]
