[Unit]
Description=Runs the robotstreamer stream

[Service]
Type=exec
ExecStart=sudo su -l houston -c "/opt/radio/kw1fox-1/houston/stream.sh"
Restart=on-failure
#KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
