[submodule "Houston-SSTV/streamer/external/cpp-mjpeg-streamer"]
	path = Houston-SSTV/streamer/external/cpp-mjpeg-streamer
	url = https://github.com/nadjieb/cpp-mjpeg-streamer.git
[submodule "MC-Streamer/utils/robotstreamer"]
	path = MC-Streamer/utils/robotstreamer
	url = https://github.com/robotstreamer/robotstreamer.git
