[submodule "Houston-SSTV/streamer/external/cpp-mjpeg-streamer"]
	path = Houston-SSTV/streamer/external/cpp-mjpeg-streamer
	url = https://github.com/nadjieb/cpp-mjpeg-streamer.git
[submodule "Houston-Streamer/utils/robotstreamer"]
	path = Houston-Streamer/utils/robotstreamer
	url = https://github.com/robotstreamer/robotstreamer.git
[submodule "Houston-Sim/addons/godot_heightmap_plugin"]
	path = Houston-Sim/addons/godot_heightmap_plugin
	url = https://github.com/Zylann/godot_heightmap_plugin.git
