[Unit]
Description=Runs a qsstv instance as houston with houston's config

[Service]
ExecStart=sudo su -l houston -c "/opt/radio/kw1fox-1/sstv/sstv.sh"

[Install]
WantedBy=multi-user.target
